.about{
    padding: 3rem 0;
    .--name{
        padding: 1rem 1.25rem;
        color: white;
        font-size: 2rem;
        font-weight: 800;
        display: flex;
        margin: 1rem auto;
        border: 6px solid rgb(250, 127, 89);
    }
    .row{
        .col-md-10{
            display: flex;
            margin: 0.5rem auto;
        }
    }
    .--hobby{
        margin:3rem 0;
        .col-md-3{
            .text{
                text-align: center;
            }
            .h-icon{
                font-size: 5.5rem;
                display: flex;
                margin: 0.5rem auto;
            }
        }
    }
}
@media screen and (max-width:700px) {
    .about{
        .--name{
            padding:0.6rem 1rem;
            font-size: 1.4rem;
        }
        .row{
            .col-md-10{
                padding: 4%;
            }
        }
        .--hobby{
            display: flex;
            .col-md-3{
                width: 45%;
                margin:0.3rem;
                .text{
                    font-size: 1.3rem;
                }
                .h-icon{
                    font-size: 4rem!important;
                    display: flex;
                    margin: 0.5rem auto;
                }
            }

            }
        }
    }